:root {
  --main-text-color: #999999;
  --secondary-text-color: #ffffff;
  --accent-color: #4985ff;
  --main-title-color: #ffffff;
  --secondary-title-color: #323232;
  --third-title-color: #000000;
}
body {
  font-family: "Montserrat", sans-serif;
  color: var(--main-text-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.btn {
  width: 200px;
  height: 45px;
  border: transparent;
  border-radius: 30px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.link {
  text-decoration: none;
}
.nav-list {
  display: flex;
  justify-content: end;
}
.nav-item:not(:last-child) {
  margin-right: 40px;
}
.nav-link {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
}
.header {
  background-color: gold;
}

.hero {
  padding-top: 220px;
  padding-bottom: 335px;
  background-color: gold;
}
.hero-text {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
}

.hero-title {
  margin: 0 auto;
  max-width: 829px;
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: var(--main-title-color);
}
.hero-btn {
  display: block;
  margin: 0 auto;
}

.mobile {
  padding-top: 110px;
  padding-bottom: 110px;
}

.mobile-title {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 739px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  text-align: center;
  color: var(--secondary-title-color);
}

.mobile-text {
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 730px;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: var(--main-text-color);
}

.mobile-list {
  display: flex;
  margin-bottom: 55px;
  margin-left: -27px;
}

.mobile-item {
  flex-basis: calc(100% / 3 - 27px);
  margin-left: 27px;
}

.mobile-item-title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--third-title-color);
}

.mobile-item-text {
  font-size: 14px;
  line-height: 1.57;
  color: var(--main-text-color);
}

.mobile-btn {
  display: block;
  margin: 0 auto;
}
.about {
  padding-top: 100px;
  padding-bottom: 70px;
}
.about-title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  color: var(--secondary-title-color);
}
.about-text {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.56;
}
.about-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  color: var(--accent-color);
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 90px;
  margin-bottom: 70px;
}
.about-content {
  width: 489px;
}
.about-list {
  display: flex;
  justify-content: space-evenly;
}
.about-item-count {
  font-size: 36px;
  line-height: 1.47;

  color: var(--third-title-color);
}
.about-item-text {
  font-size: 16px;
  line-height: 1.56;
}

.works{
  background-color: var(--secondary-title-color);
  padding-top: 100px;
  padding-bottom: 85px;
}

.works-list{
  margin-bottom: 85px;
  display: flex;
  margin-left: -30px;
}

.works-title{
  width: 540px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  color: var(--secondary-text-color)
}

.works-item-title span{
  color: var(--accent-color);
}

.works-item-text{
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.56;
}

.works-item-title{
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--third-title-color)
}

.works-link{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-decoration-line: underline;
  color: var(--accent-color)
}

.works-top{
  margin-bottom: 70px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.works-item{
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.border{

  border-bottom: 1px solid #E0E0E0;;
}